<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<body>
    <h2><th:block th:if="${pet.new}">New </th:block>Pet</h2>
    <form method="post" th:object="${pet}">
        <label>Owner</label>
        <div><span th:text="${owner.firstName + ' ' + owner.lastName}"></span></div>
        <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Birth Date', 'birthDate', 'date')}"/>
        <input th:replace="~{fragments/selectField :: select ('Type', 'petType', ${petTypes})}"/>
        <dvi>
            <button type="submit" th:text="${pet.new ? 'Add Pet' : 'Update Pet'}"></button>
        </dvi>
    </form>
</body>
</html>