<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<body>
    <h2>Add Visit</h2>
    <b>Pet</b>
    <table>
        <thead><tr><th>Name</th><th>Birth Date</th><th>Type</th><th>Owner</th></tr></thead>
        <tbody>
            <tr>
                <td th:text="${pet.name}"></td>
                <td th:text="${#temporals.format(pet.birthDate,'yyyy-MM-dd')}"></td>
                <td th:text="${pet.petType}"></td>
                <td th:text="${owner.firstName + ' ' + owner.lastName}"></td>
            </tr>
        </tbody>
    </table>
    <form method="post" th:object="${visit}">
        <input th:replace="~{fragments/inputField :: input ('Visit Date','visitDate','date')}"/>
        <input th:replace="~{fragments/inputField :: input ('Description','description','text')}"/>
        <button type="submit">Add Visit</button>
    </form>
</body>
</html>