<html xmlns:th="https://www.thymeleaf.org">
<body>
    <form>
        <th:block th:fragment="input (label, name, type)">
            <div>
                <label th:text="${label}"></label>
                <div th:switch="${type}">
                    <input th:case="'text'" type="text" th:field="*{__${name}__}"/>
                    <input th:case="'date'" type="date" th:field="*{__${name}__}"/>
                </div>
                <span th:if="${#fields.hasErrors(name)}">
                    <span th:errors="*{__${name}__}"></span>
                </span>
            </div>
        </th:block>
    </form>
</body>
</html>